/*商品添加*/
.pord_class,
.pord_add_class {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0px 7px;
}
.pord_class i,
.pord_add_class i {
  color: #ddd;
}
.pord_class:hover,
.pord_add_class:hover {
  color: #fff;
}
.pord_class:hover i,
.pord_add_class:hover i {
  color: #fff;
}
.pord_class {
  border: 1px solid #e5e5e5;
  margin-right: 10px;
}
.pord_class:hover {
  border: 1px solid #c63927;
  background: #c63927;
}
.pord_class i {
  cursor: pointer;
}
.pord_add_class {
  border: 1px dotted #e5e5e5;
  cursor: pointer;
}
.pord_add_class:hover {
  border: 1px solid #2977f7;
  background: #2977f7;
}
/*滚动条修改*/
#prodClassTree {
  height: 350px;
  overflow-y: scroll;
}
#prodClassTree .jstree-themeicon {
  display: none;
}
#prodClassTree::-webkit-scrollbar {
  width: 8px;
}
#prodClassTree::-webkit-scrollbar-track {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webikt-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#prodClassTree::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webikt-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
#prodClassTree::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
/*商品上传*/
.handle_img {
  list-style-type: none;
  float: left;
  width: 200px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  background: #fff;
  z-index: 10;
}
.handle_img img {
  width: 180px;
  height: 180px;
}
.handle_img_fun {
  padding-top: 10px;
  overflow: hidden;
}
.handle_img_fun label {
  float: left;
  font-size: 12px;
}
.handle_img_fun .radio {
  padding-top: 2px;
}
.handle_img_fun button {
  float: right;
}
#handleImgBox {
  overflow: hidden;
  margin-bottom: 20px;
  min-height: 300px;
}
