.out{background:url(../images/out.png) center right no-repeat;background-size:110px 73px;}
.send_img{background:url(../images/out.png) center right no-repeat;background-size:110px 73px;}
.s_title{width:100%;position:relative;margin:25px 0;}
.s_title:after{content: '';width: 100%;border-bottom:1px dotted #919191;position:absolute; bottom:10px;left: 0px;}
.s_title span{font-size:16px;color:#919191;background:#fff;padding:5px 20px;z-index: 99;position:relative;}